@import "color";
@import "mixin";
@import "bootstrap";
@import "user_show";
@import "fenye";

a{
  cursor: pointer;
  &:hover{
    text-decoration:none;
  }
  &:link{
    text-decoration:none;
  }
}

button{
  &:focus{
    outline: none;
  }
}

input{
  &:focus{
    outline: none;
  }
}


.bg-gray{
  background-color: #f5f5f5;
}

.common-banner{
  margin-bottom: 20px;
  img{
    width: 100%;
    height: 358px;
  }
}