@mixin button{
  border: 0px;
  line-height: 30px;
  height: 40px;
  background-color: $button-color;
  color: white;
  transition: all 0.2s;
  &:hover{
    background-color:$button-color-active;
  }
}