.nav-warp{
  padding:20px 0px;
}
.logo{
  img{
    width: 70px;
    height: 70px;
  }
}

.nav-ul{
  height: 70px;
  & > ul {
    margin-left: 100px;
    li{
      line-height: 70px;
      padding:0px 20px;
      &:last-child{
        padding-right: 0px;
      }
      a{
        font-size: 16px;
        color: $b-font-color;
        padding-bottom: 5px;
        &:hover{
          color: $active-color;
        }
      }
    }
    .active{
      a{
        color: $active-color;
        border-bottom: 2px solid $active-color;
      }

    }

  }
}

.search_input{
  height: 40px;
  input{
    width: 200px;
    border: 1px solid #ddd;
    border-right: 0px;
    height: 40px;
    padding:10px;
  }
}
.search_button{
  height: 40px;
  button{
    @include button;
    padding:0px 15px;
    line-height: 30px;
    height: 40px;
  }
}

.nav_search{
  height: 40px;
}