.contact-box{
  margin: 20px 0px;
  padding:40px;
  background-color: white;
}

.contact-con{
  width: 49%;
}

.contact-tit{
  margin-bottom: 20px;
}

.contact-des{
  margin-bottom: 30px;
}

.contact-map{
  margin-left: 2%;
  width: 49%;
}

#contact_map{
  width: 100%;
  height: 320px;
}