.i-banner{
  position: relative;
}

.carousel-control.left{
  margin-left: 244px;
}

.in-banner{
  img{
    width: 1241px;
    height: 530px !important;
  }
}
.classify_nav_b{
  height: 100%;
  width: 244px;
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,.6);
}

.classify_nav_ul{
  & > ul{
    margin-top: 20px;
    & > li{
      cursor: pointer;
      padding:10px 30px;
      & > a{
        color: white;
      }
      & > i{
        color: white;
        font-size: 22px;
      }
      &:hover{
        background-color: $active-color;
      }
    }

  }
}

.cla_item_dis{
  display: none;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 244px;
  min-width: 470px;
  border:1px solid #dddd;
  border-left: 0px;
  height: 100%;
  & > ul {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    & > li {
      padding:20px;
      & > a{
        display: inline-block;
        color: $b-font-color;
        &:hover{
          color: $href-color;
        }
      & > img{
        width: 40px;
        height: 40px;
      }
      }
    }
  }
}

.hot-product{
  margin-bottom: 20px;
}

.hot-product_box{
  width: 100%;
  & > ul {
    & > li{
      position: relative;
      top:0px;
      transition: all 0.5s;
      &:last-child{
        padding-right: 0px;
      }
      &:hover{
        top: -10px;
      }
    }
  }
}

.xbt-li-pro{
  &> a{
    color:inherit;
    display: inline-block;
  }
}
.ind-tit{
  padding:30px 0px 10px;
  h3{
    display: inline-block;
    margin: 0px;
  }
  a{
    float: right;
    color: #999;
  }
}


.hot-pro-item{
  padding:20px 10px;
  background-color: #f5f5f5;
  img{
    width: 217px;
    height: 217px;
  }
  h5{
    font-size: 16px;
  }
  p{
    padding: 5px 0px;
    margin: 0px;
  }
  span{
    width: 100%;
    color: #999;
  }
  &:hover{
    box-shadow: 0 2px 7px #ddd;
  }
}

.product-price{
  color: $href-color;
  i{
    font-size: 20px;
  }
}


.consult-adt{
  margin-bottom: 20px;
}

.ind-consult{
  width: 683px;
  height: 234px;
}

.ind-consult-f1{
  height: 234px;
  padding:10px;
  background-color: white;
}

.consult-header{
  img{
    width: 197px;
    height: 142px;
  }
}
.consult-des{
  p{
    margin-top: 10px;
  }
  a{
    padding:5px 10px;
    @include button;
  }

}

.ind-acd{
  position: relative;
  width: 557px;
  height: 234px;
}
.ind-acd-tag{
  p{
    margin-bottom: 0px;
    color: white;
  }
  width: 20%;
  padding:5px 10px;
  background-color: $blue-color;
}

.ind-acd-div-f1{
  height: 180px;
  position: absolute;
  right: 30px;
  width: 215px;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding:20px;
  & > button{
    padding:5px 20px;
    margin-top: 20px;
    @include button
  }
}

.ind-acd-des{
  border-bottom: 1px solid #ddd;
}


.ind-case{
  margin-bottom: 10px;
}

.ind-case-box{
  & > ul {
    margin-left: -10px;
    li{
      padding-left: 10px;
      padding-right: 0px;
      margin-bottom: 10px;
    }
  }
}

.ind-case-item{
  width: 100%;
  display: inline-block;
  padding:10px;
  background-color: white;
  border: 1px solid transparent;
  transition: all 0.2s;
  &:hover{
    border: 1px solid $href-color;
  }
}

.ind-case-img{
  img{
    width: 100%;
    height: 167px;
  }
}

.ind-case-des{
  p{
    color: #333;
    margin-top: 10px;
    font-size: 16px;
  }
  span{
    color: #999;
    font-size: 14px;
    i{
      color: $href-color;
    }
  }
}

.ind-news-l1-box{
  width: 50%;
}
.ind-news-l1{
  position: relative;
  height: 387px;
  img{
    width: 100%;
    height: 100%;
  }
}

.ind-news-l1-des{
  width: 100%;
  height: 50%;
  padding:20px 30px;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top:193px;
  h4{
    color: white;
    display: inline-block;
  }
  & > span{
    font-size: 13px;
    padding:1px 5px;
    background-color: $blue-color;
    color: white;
  }
  & > p{
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
    & > span{
      color: #999;
    }
  }
}

.ind-news-l1-botton{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  padding:5px 10px;
  color: white;
  top:10px;
  z-index: 10;
  cursor: pointer;
  &:hover{
    background-color: rgba(255,0,66,0.7);
  }
}

.ind-news-l1-prev{
  left: 10px;
}
.ind-news-l1-next{
  left: 46px;
}


.ind-news-r1{
  width: 48%;
  height: 387px;
  margin-left: 2%;
}

.ind-news-acd{
  display: inline-block;
}

.ind-news-acd-f1{
  position: relative;
  padding-right: 0px;
  overflow: hidden;
  img{
    width: 100%;
    height: 210px;
  }
  & > .active{
    top:0px;
  }
}
.ind-news-acd-des{
  position: absolute;
  top: 210px;
  width: 282px;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding:40px;
  transition: all 0.5s;
  h4{
    font-size: 15px;
    display: inline-block;
  }
  .ind-news-acd-tag{
    padding:1px 5px;
    background-color: $blue-color;
  }
}

.ind-news-r2{
  width: 100%;
  height: 162px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.ind-news-r2-box{
  position: relative;
  ul {
    margin-left: 10px;
    li {
      position: relative;
      width: 168px;
      padding:0px;
      margin-left: 10px;
      &:first-child{
        margin-left: 15px;
      }
      a {
        display: inline-block;
        img{
          width: 100%;
          height: 162px;
        }
      }
      .active{
        top:0px;
      }
    }
  }
}
.ind-news-r2-lunbo{
  width: 582px;
  margin-left: 15px;
}
.ind-news-r2-con{
  overflow: hidden;
  position: relative;
}
.ind-news-r2-des{
  width: 100%;
  position: absolute;
  top:162px;
  padding:30px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  transition: all 0.5s;
  h4{
    font-size: 15px;
  }
  p{
    font-size: 14px;
    color: #999;
  }
}

.ind-news-r2-botton{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 20px;
  height: 162px;
  line-height:162px;
  text-align: center;
  z-index: 10;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: $href-color;
  }
}
.ind-news-r2-prev{
  left:15px;
}

.ind-news-r2-next{
  right: 0px;
}


.banner2{
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.banner2-warp{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.banner2-box{
  color: white;
  padding-bottom:30px;
}

.ind-center-title{
  color: white;
  margin: 40px 0px 30px;
  p{
    color: #999;
  }
}

.banner2-item-img{
  background-color: $href-color;
  border-radius: 100px;
  width: 133px;
  height: 133px;
  i{
    line-height: 133px;
    font-size: 60px;
  }
}



.ind-circum-box{
  margin-bottom: 20px;
  & > ul {
    li {
      img{
        width: 100%;
        height: 148px;
      }
    }
  }
}

.ind-partner{
  width: 100%;
  height: 400px;
  position: relative;
}
.ind-partner-d1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.ind-partner-input{
  width: 400px;
  background-color: white;
  padding:20px 76px;
}

.ind-partner-input-group{
  margin-bottom: 20px;
  label{
    padding:5px 10px;
    margin-bottom: 0px;
    background-color: #ddd;
  }
  input{
    height: 31px;
    width: 200px;
    border: 1px solid #ddd;
  }
  button{
    padding:5px 0px;
    width: 100%;
    @include button;
  }
}