.news-item-warp{
  margin-top: 40px;
}

.news-item-left-box{
  background-color: white;
  box-shadow: 0 0 5px #ddd;
}

.news-item-push-tiem{
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f2f5;
  margin-bottom: 40px;
  span{
    color: #a3afb7;
    padding-right: 20px;
    font-size: 16px;

  }
}