
.index-hot-pro{
  padding-bottom:1rem;
  a{
    color:inherit;
    background-color: white;
    img{
      border: 1px solid rgba(221, 221, 221, 0.23);
      width: 100%;
    }
    p{
      font-size: .7rem;
      margin: 0px;
      text-align: center;
    }
  }
}




.index-title{
  padding-bottom: .5rem;
  margin: .75rem 0rem;
  border-bottom: .01rem solid #ddd;
  h3{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.index-hot-price{
  color: $href-color;
  font-size: .9rem !important;
}

.index-hot-name{
  color: #999;
}