
.index-hot-pro-item{
  padding-bottom:1rem;
  a{
    display: inline-block;
    color:inherit;
    background-color: white;
    img{
      //border: 1px solid rgba(221, 221, 221, 0.23);
      width: 100%;
    }
    p{
      font-size: .5rem;
      margin: 0px;
      text-align: center;
    }
  }
}




.index-title{
  padding-bottom: .5rem;
  margin:1rem 0 .5rem 0;
  border-bottom: .01rem solid #ddd;
  h4{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding:0 .5rem;
    border-left: .3rem solid $href-color;
  }
}

.index-hot-price{
  color: $href-color;
  font-size: .6rem !important;
}

.index-hot-name{
  color: #999;
}

.index_banner_1{

}

.index-doctors-box{
  .index-doctors-avatar{
    width: 2.5rem;
  }
}

.index-case{
  p{
    font-size: .6rem;
  }
}


.index-news-title{
  font-size: .6rem;
  white-space: normal !important;
}
.index-news-times{
  font-size: 0.5rem !important;
  color:#999;
}

.index-news-img{
  padding:.2rem .1rem !important;
}
.index-news-warp{
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
  ul{
    li{
      padding:0 !important;
    }
  }
}

.index-news-warp{
  .buttons-tab{
    .active{
      color: $href-color;
      border-color: $href-color;
    }
  }
}

.index-ser-subtitle{
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: .5rem;
}