
.index-hot-pro-item{

  padding-bottom:1rem;
  a{
    display: inline-block;
    color:inherit;
    background-color: white;
    img{
      //border: 1px solid rgba(221, 221, 221, 0.23);
      width: 100%;
    }
    p{
      font-size: .4rem;
      margin: 0px;
      text-align: center;
    }
  }
}




.index-title{
  padding-bottom: .5rem;
  margin: .75rem 0rem;
  border-bottom: .01rem solid #ddd;
  h4{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.index-hot-price{
  color: $href-color;
  font-size: .6rem !important;
}

.index-hot-name{
  color: #999;
}

.index-doctors{
  width: 70%;
  img{
    width: 100%;

  }
}

.index_banner_1{
  background: -webkit-linear-gradient(left, #f4275d , #fb8751);
  background: -o-linear-gradient(right, #f4275d, #fb8751);
  background: -moz-linear-gradient(right, #f4275d, #fb8751);
  background: linear-gradient(to right, #f4275d , #fb8751);

}