.product-warp{
  margin: 0 0;
  background-color: white;
}

.product-item-price{
  color: $href-color !important;
}

.card-t-title{
  white-space: normal !important;
  word-wrap:break-word;
}

.card-t-text{
  color: #737373 !important;
}

.product-item-specification{
  color:#999;
}