.store-st-list{
  margin-top: 0;
}

.store-st-item{
  height: 4.5rem;
  overflow: hidden;
}

.store-st-item-subtitle{
  white-space: normal !important;
  font-size: .5rem !important;
  color: #999;
}

.store-map{
  width: 100%;
  height:10rem;
}