.swiper-container{
  padding-bottom: 0;
  img{
    width: 100%;
  }
}

.bg-white{
  background-color: white;
}


.laravel-pages{
  padding: .5rem 0rem;
  width: 100%;
  ul{
    padding:0rem;
    border-top: 0;
    margin: 0 auto;
    background-color: inherit;
    display: table;
    clear: both;
    border-bottom: .01rem solid #ddd;
    li{
      list-style: none;
      text-align: center;
      padding: 0 .5rem;
      border-left: .01rem solid #ddd;
      border-top: .01rem solid #ddd ;
      border-buttom: .01rem solid #ddd ;
      float: left;
      &:last-child{
        border-right: 0.01rem solid #ddd;
      }
    }
  }
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active{
  color: $href-color;
}