.container-fluid {
  min-width: 1241px !important;
  padding: 0px;
  margin: 0px; }

.container {
  width: 1241px;
  padding: 0px; }

ul {
  margin-bottom: 0px; }

.carousel-control {
  display: none; }

.v-member {
  width: 100%;
  height: 500px; }

.v-member-box {
  position: absolute;
  right: 0px;
  top: 50px;
  background-color: white;
  padding: 30px;
  width: 30%;
  border-radius: 5px;
  overflow: hidden; }
  .v-member-box .form-group {
    margin-left: 0px;
    margin-right: 0px; }

.v-member-tit {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  .v-member-tit a {
    color: #333; }
  .v-member-tit .active a > h4 {
    border-bottom: 2px solid #00a0e9; }
  .v-member-tit h4 {
    display: inline-block;
    padding: 10px;
    margin: 0px; }

.v-member-label {
  width: 41px; }

.v-member-input {
  width: 100%; }

.v-member-log {
  display: none; }

.v-mem-weixin-login img {
  width: 100%; }

.lara_fenye {
  width: 100%; }

.pagination > li a {
  color: #ff0042;
  transition: all 0.15s; }
  .pagination > li a:hover {
    color: #ff0042; }
.pagination .active span {
  background-color: #ff0042;
  border-color: #ff0042; }
  .pagination .active span:hover {
    background-color: #ff0042;
    border-color: #ff0042; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none; }
  a:link {
    text-decoration: none; }

button:focus {
  outline: none; }

input:focus {
  outline: none; }

.bg-gray {
  background-color: #f5f5f5; }

.common-banner {
  margin-bottom: 20px; }
  .common-banner img {
    width: 100%;
    height: 358px; }

.top-box {
  background-color: #333; }

.top-box-f1 {
  color: #bbb; }
  .top-box-f1 > ul {
    line-height: 30px; }
    .top-box-f1 > ul > li {
      padding: 5px 10px; }
      .top-box-f1 > ul > li i {
        font-size: 16px; }
  .top-box-f1 p {
    line-height: 40px;
    margin-bottom: 0px; }
  .top-box-f1 a {
    color: #bbb;
    cursor: pointer; }

.top-box-f2 > ul {
  line-height: 30px; }
  .top-box-f2 > ul > li {
    padding: 5px 10px; }
    .top-box-f2 > ul > li a {
      background-color: inherit;
      border: 0px;
      color: #bbb;
      text-decoration: none;
      transition: all 0.2s; }
      .top-box-f2 > ul > li a:hover {
        color: #ff0042; }

.top-weixin-code-li {
  position: relative; }
  .top-weixin-code-li .top-weixin-code {
    z-index: 10;
    position: absolute;
    left: -20px;
    top: 40px;
    border: 1px solid #ddd;
    display: none; }
    .top-weixin-code-li .top-weixin-code img {
      width: 100px;
      height: 100px; }

.user-set-f1-list {
  width: 100px;
  position: relative;
  z-index: 11; }
  .user-set-f1-list > a {
    color: #bbb;
    transition: all 0.2s; }
    .user-set-f1-list > a i {
      padding: 0px 10px; }
    .user-set-f1-list > a:hover {
      color: #ff0042; }

.user-account {
  display: inline-block; }

.user-set-l-list {
  display: none;
  width: 150px;
  position: absolute;
  z-index: 10;
  background-color: white;
  right: 0px;
  top: 35px;
  border: 1px solid #ddd;
  color: #333; }
  .user-set-l-list > ul li {
    padding: 0px 20px; }
    .user-set-l-list > ul li a {
      display: inline-block;
      color: #333;
      width: 100%; }
      .user-set-l-list > ul li a i {
        width: 20%; }
    .user-set-l-list > ul li:hover {
      background-color: #f5f5f5; }
      .user-set-l-list > ul li:hover a {
        color: #ff0042; }

.ind-user-logout {
  border-top: 1px solid #ddd; }

.nav-warp {
  padding: 20px 0px; }

.logo img {
  width: 70px;
  height: 70px; }

.nav-ul {
  height: 70px; }
  .nav-ul > ul {
    margin-left: 100px; }
    .nav-ul > ul li {
      line-height: 70px;
      padding: 0px 20px; }
      .nav-ul > ul li:last-child {
        padding-right: 0px; }
      .nav-ul > ul li a {
        font-size: 16px;
        color: #333;
        padding-bottom: 5px; }
        .nav-ul > ul li a:hover {
          color: #ff0042; }
    .nav-ul > ul .active a {
      color: #ff0042;
      border-bottom: 2px solid #ff0042; }

.search_input {
  height: 40px; }
  .search_input input {
    width: 200px;
    border: 1px solid #ddd;
    border-right: 0px;
    height: 40px;
    padding: 10px; }

.search_button {
  height: 40px; }
  .search_button button {
    border: 0px;
    background-color: #ff0042;
    color: white;
    transition: all 0.2s;
    padding: 0px 15px;
    line-height: 30px;
    height: 40px; }
    .search_button button:hover {
      background-color: rgba(187, 5, 5, 0.86); }

.nav_search {
  height: 40px; }

.foot-con {
  margin-top: 20px; }

.foot-con-l {
  width: 70%; }
  .foot-con-l > ul {
    border-right: 1px solid #ddd; }

.foot-con-r {
  width: 30%; }
  .foot-con-r h2 {
    color: #ff0042; }
  .foot-con-r > ul > li {
    font-size: 18px; }
    .foot-con-r > ul > li .fa-weixin {
      color: green; }
    .foot-con-r > ul > li .fa-qq {
      color: #2096ff; }
    .foot-con-r > ul > li .fa-weibo {
      color: #ff5818; }

.foot-item > ul > li {
  padding: 4px 0px; }
  .foot-item > ul > li a {
    color: inherit; }
    .foot-item > ul > li a span {
      color: #868686; }
    .foot-item > ul > li a:hover {
      color: rgba(187, 5, 5, 0.86); }
      .foot-item > ul > li a:hover span {
        color: rgba(187, 5, 5, 0.86); }

.i-banner {
  position: relative; }

.carousel-control.left {
  margin-left: 244px; }

.in-banner img {
  width: 1241px;
  height: 530px !important; }

.classify_nav_b {
  height: 100%;
  width: 244px;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6); }

.classify_nav_ul > ul {
  margin-top: 20px; }
  .classify_nav_ul > ul > li {
    cursor: pointer;
    padding: 10px 30px; }
    .classify_nav_ul > ul > li > a {
      color: white; }
    .classify_nav_ul > ul > li > i {
      color: white;
      font-size: 22px; }
    .classify_nav_ul > ul > li:hover {
      background-color: #ff0042; }

.cla_item_dis {
  display: none;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 244px;
  min-width: 470px;
  border: 1px solid #dddd;
  border-left: 0px;
  height: 100%; }
  .cla_item_dis > ul {
    width: 100%;
    display: inline-block;
    margin-left: 0px; }
    .cla_item_dis > ul > li {
      padding: 20px; }
      .cla_item_dis > ul > li > a {
        display: inline-block;
        color: #333; }
        .cla_item_dis > ul > li > a:hover {
          color: #ff0042; }
        .cla_item_dis > ul > li > a > img {
          width: 40px;
          height: 40px; }

.hot-product {
  margin-bottom: 20px; }

.hot-product_box {
  width: 100%; }
  .hot-product_box > ul > li {
    position: relative;
    top: 0px;
    transition: all 0.5s; }
    .hot-product_box > ul > li:last-child {
      padding-right: 0px; }
    .hot-product_box > ul > li:hover {
      top: -10px; }

.xbt-li-pro > a {
  color: inherit;
  display: inline-block; }

.ind-tit {
  padding: 30px 0px 10px; }
  .ind-tit h3 {
    display: inline-block;
    margin: 0px; }
  .ind-tit a {
    float: right;
    color: #999; }

.hot-pro-item {
  padding: 20px 10px;
  background-color: #f5f5f5; }
  .hot-pro-item img {
    width: 217px;
    height: 217px; }
  .hot-pro-item h5 {
    font-size: 16px; }
  .hot-pro-item p {
    padding: 5px 0px;
    margin: 0px; }
  .hot-pro-item span {
    width: 100%;
    color: #999; }
  .hot-pro-item:hover {
    box-shadow: 0 2px 7px #ddd; }

.product-price {
  color: #ff0042; }
  .product-price i {
    font-size: 20px; }

.consult-adt {
  margin-bottom: 20px; }

.ind-consult {
  width: 684px;
  height: 234px; }

.ind-consult-f1 {
  height: 234px;
  padding: 10px;
  background-color: white; }

.consult-header img {
  width: 197px;
  height: 142px; }

.consult-des p {
  margin-top: 10px; }
.consult-des a {
  padding: 5px 10px;
  border: 0px;
  background-color: #ff0042;
  color: white;
  transition: all 0.2s; }
  .consult-des a:hover {
    background-color: rgba(187, 5, 5, 0.86); }

.ind-acd {
  position: relative;
  width: 557px;
  height: 234px; }

.ind-acd-tag {
  width: 20%;
  padding: 5px 10px;
  background-color: #00a0e9; }
  .ind-acd-tag p {
    margin-bottom: 0px;
    color: white; }

.ind-acd-div-f1 {
  height: 180px;
  position: absolute;
  right: 30px;
  width: 215px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px; }
  .ind-acd-div-f1 > button {
    padding: 5px 20px;
    margin-top: 20px;
    border: 0px;
    background-color: #ff0042;
    color: white;
    transition: all 0.2s; }
    .ind-acd-div-f1 > button:hover {
      background-color: rgba(187, 5, 5, 0.86); }

.ind-acd-des {
  border-bottom: 1px solid #ddd; }

.ind-case {
  margin-bottom: 10px; }

.ind-case-box > ul {
  margin-left: -10px; }
  .ind-case-box > ul li {
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 10px; }

.ind-case-item {
  width: 100%;
  height: 300px;
  display: inline-block;
  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  transition: all 0.2s; }
  .ind-case-item:hover {
    border: 1px solid #ff0042; }

.ind-case-img img {
  width: 100%;
  height: 167px; }

.ind-case-des p {
  color: #333;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px; }
  .ind-case-des p span {
    color: #999;
    font-size: 14px; }
  .ind-case-des p i {
    font-size: 14px;
    color: #ff0042; }

.ind-news-l1-box {
  width: 50%; }

.ind-news-l1 {
  position: relative;
  height: 387px; }
  .ind-news-l1 img {
    width: 100%;
    height: 100%; }

.ind-news-l1-des {
  width: 100%;
  height: 50%;
  padding: 20px 30px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 193px; }
  .ind-news-l1-des h4 {
    color: white;
    display: inline-block; }
  .ind-news-l1-des > span {
    font-size: 13px;
    padding: 1px 5px;
    background-color: #00a0e9;
    color: white; }
  .ind-news-l1-des > p {
    color: white;
    margin-bottom: 0px;
    margin-top: 10px; }
    .ind-news-l1-des > p > span {
      color: #999; }

.ind-news-l1-botton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  color: white;
  top: 10px;
  z-index: 10;
  cursor: pointer; }
  .ind-news-l1-botton:hover {
    background-color: rgba(255, 0, 66, 0.7); }

.ind-news-l1-prev {
  left: 10px; }

.ind-news-l1-next {
  left: 46px; }

.ind-news-r1 {
  width: 48%;
  height: 387px;
  margin-left: 2%; }

.ind-news-acd {
  display: inline-block; }

.ind-news-acd-f1 {
  position: relative;
  padding-right: 0px;
  overflow: hidden; }
  .ind-news-acd-f1 img {
    width: 100%;
    height: 210px; }
  .ind-news-acd-f1 > .active {
    top: 0px; }

.ind-news-acd-des {
  position: absolute;
  top: 210px;
  width: 282px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 40px;
  transition: all 0.5s; }
  .ind-news-acd-des h4 {
    font-size: 15px;
    display: inline-block; }
  .ind-news-acd-des .ind-news-acd-tag {
    padding: 1px 5px;
    background-color: #00a0e9; }

.ind-news-r2 {
  width: 100%;
  height: 162px;
  margin-top: 10px;
  position: relative;
  overflow: hidden; }

.ind-news-r2-box {
  position: relative; }
  .ind-news-r2-box ul {
    margin-left: 10px; }
    .ind-news-r2-box ul li {
      position: relative;
      width: 168px;
      padding: 0px;
      margin-left: 10px; }
      .ind-news-r2-box ul li:first-child {
        margin-left: 15px; }
      .ind-news-r2-box ul li a {
        display: inline-block; }
        .ind-news-r2-box ul li a img {
          width: 100%;
          height: 162px; }
      .ind-news-r2-box ul li .active {
        top: 0px; }

.ind-news-r2-lunbo {
  width: 582px;
  margin-left: 15px; }

.ind-news-r2-con {
  overflow: hidden;
  position: relative; }

.ind-news-r2-des {
  width: 100%;
  position: absolute;
  top: 162px;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  transition: all 0.5s; }
  .ind-news-r2-des h4 {
    font-size: 15px; }
  .ind-news-r2-des p {
    font-size: 14px;
    color: #999; }

.ind-news-r2-botton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 20px;
  height: 162px;
  line-height: 162px;
  text-align: center;
  z-index: 10;
  color: white;
  cursor: pointer; }
  .ind-news-r2-botton:hover {
    background-color: #ff0042; }

.ind-news-r2-prev {
  left: 15px; }

.ind-news-r2-next {
  right: 0px; }

.banner2 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px; }

.banner2-warp {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.banner2-box {
  color: white;
  padding-bottom: 30px; }

.ind-center-title {
  color: white;
  margin: 40px 0px 30px; }
  .ind-center-title p {
    color: #999; }

.banner2-item-img {
  background-color: #ff0042;
  border-radius: 100px;
  width: 133px;
  height: 133px; }
  .banner2-item-img i {
    line-height: 133px;
    font-size: 60px; }

.ind-circum-box {
  margin-bottom: 20px; }
  .ind-circum-box > ul li img {
    width: 100%;
    height: 148px; }

.ind-partner {
  width: 100%;
  height: 400px;
  position: relative; }

.ind-partner-d1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.ind-partner-input {
  width: 400px;
  background-color: white;
  padding: 20px 76px; }

.ind-partner-input-group {
  margin-bottom: 20px; }
  .ind-partner-input-group label {
    padding: 5px 10px;
    margin-bottom: 0px;
    background-color: #ddd; }
  .ind-partner-input-group input {
    height: 31px;
    width: 200px;
    border: 1px solid #ddd; }
  .ind-partner-input-group button {
    padding: 5px 0px;
    width: 100%;
    border: 0px;
    background-color: #ff0042;
    color: white;
    transition: all 0.2s; }
    .ind-partner-input-group button:hover {
      background-color: rgba(187, 5, 5, 0.86); }

.news-nav {
  margin-bottom: 20px; }
  .news-nav > ul li a {
    color: #333; }
    .news-nav > ul li a h4 {
      font-size: 16px; }
    .news-nav > ul li a:hover {
      color: #ff0042; }
  .news-nav > ul .active a {
    color: #ff0042; }

.news-cont {
  margin: 20px 0px; }
  .news-cont > ul li {
    margin-bottom: 15px; }
    .news-cont > ul li a {
      width: 100%;
      display: inline-block;
      color: inherit;
      background-color: white; }
      .news-cont > ul li a img {
        width: 100%;
        height: 188px; }

.news-des {
  padding: 10px 20px; }
  .news-des p {
    font-size: 14px;
    height: 63px; }
  .news-des span {
    color: #999; }
    .news-des span i {
      color: #ff0042; }
  .news-des h5 {
    font-size: 15px;
    font-weight: bold; }

.case-box-f1 {
  margin-top: 20px; }

.case-nav {
  background-color: white;
  width: 23%;
  padding: 10px 20px;
  min-height: 500px;
  margin-bottom: 20px; }

.case-nav-con {
  color: #999; }
  .case-nav-con > ul > li a {
    color: inherit; }

.case-nav-row {
  padding: 8px 0px;
  border-bottom: 1px solid #ddd;
  font-size: 15px; }
  .case-nav-row i {
    line-height: 22px; }

.case-nav-child {
  display: none; }
  .case-nav-child > ul > .active {
    color: #ff0042; }

.case-nav-child-f1 {
  padding-left: 20px;
  font-size: 14px; }

.case-content {
  margin-left: 1%;
  width: 76%; }
  .case-content > ul > li {
    margin-bottom: 10px; }
    .case-content > ul > li a {
      height: 222px;
      width: 100%;
      padding: 10px;
      color: inherit;
      display: inline-block;
      background-color: white; }

.case-con-img img {
  width: 100%;
  height: 125px; }

.partner-box {
  margin-top: 20px;
  margin-bottom: 20px; }

.pn-question {
  width: 76%;
  background-color: white;
  padding: 20px 30px; }

.pn-qt {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd; }

.pn-qt-tit span {
  line-height: 35px;
  color: #a3afb7; }

.pn-qt-des {
  margin-top: 10px;
  background-color: #f3f7f9;
  padding: 20px;
  border: 1px solid #e4eaec; }
  .pn-qt-des p {
    margin-bottom: 0px; }

.par_input {
  margin-left: 1%;
  width: 23%;
  background-color: white;
  padding: 30px; }
  .par_input > ul > li {
    margin-bottom: 20px; }
    .par_input > ul > li input {
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ddd; }
    .par_input > ul > li textarea {
      width: 100%; }
    .par_input > ul > li button {
      border: 0px;
      background-color: #ff0042;
      color: white;
      transition: all 0.2s;
      width: 100%;
      padding: 8px; }
      .par_input > ul > li button:hover {
        background-color: rgba(187, 5, 5, 0.86); }

.contact-box {
  margin: 20px 0px;
  padding: 40px;
  background-color: white; }

.contact-con {
  width: 49%; }

.contact-tit {
  margin-bottom: 20px; }

.contact-des {
  margin-bottom: 30px; }

.contact-map {
  margin-left: 2%;
  width: 49%; }

#contact_map {
  width: 100%;
  height: 320px; }

.product-nav {
  padding-bottom: 20px; }
  .product-nav > ul li {
    border-right: 1px solid #ddd; }
    .product-nav > ul li a {
      display: inline-block;
      color: inherit; }
      .product-nav > ul li a h4 {
        font-size: 16px;
        margin: 0px; }
    .product-nav > ul li:last-child {
      border-right: 0px; }
    .product-nav > ul li:hover {
      color: #ff0042; }
  .product-nav > ul .active a {
    color: #ff0042; }

.product-f1 {
  margin-top: 20px;
  margin-bottom: 20px; }

.product-box {
  width: 75%;
  min-height: 100px; }
  .product-box > ul > li {
    margin-bottom: 20px; }

.pro-item {
  padding: 20px 30px;
  background-color: white; }

.pro-item-img {
  width: 20%; }
  .pro-item-img img {
    width: 100%;
    height: 178px; }

.pro-item-cont {
  margin-left: 2%;
  width: 50%;
  max-height: 178px; }
  .pro-item-cont h4 {
    margin-bottom: 40px; }
  .pro-item-cont p {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #999; }

.pro-item-r {
  width: 28%; }
  .pro-item-r h3 {
    color: #ff0042;
    margin-bottom: 30px; }
  .pro-item-r > ul > li {
    margin-bottom: 10px; }
    .pro-item-r > ul > li a {
      display: inline-block;
      padding: 5px 10px;
      width: 100px;
      text-align: center; }
    .pro-item-r > ul > li .check-pro {
      border: 0px;
      background-color: #ff0042;
      color: white;
      transition: all 0.2s; }
      .pro-item-r > ul > li .check-pro:hover {
        background-color: rgba(187, 5, 5, 0.86); }
    .pro-item-r > ul > li .jion-buy {
      border: 0px;
      background-color: #00a0e9;
      color: white;
      transition: all 0.2s; }
      .pro-item-r > ul > li .jion-buy:hover {
        background-color: #0080C7; }

.hot-product-box {
  background-color: white;
  width: 24%;
  margin-left: 1%;
  padding: 20px; }

.hot-product-box-tit {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  .hot-product-box-tit h4 {
    margin: 0px; }

.hot-product-box-b > ul > li {
  margin-bottom: 20px; }

.hot-pro-b-item {
  display: inline-block; }
  .hot-pro-b-item img {
    width: 100%;
    height: 200px; }

.hot-pro-b-con p {
  color: #333; }
  .hot-pro-b-con p span {
    color: #ff0042;
    font-size: 16px; }

.nav-crumb {
  padding: 10px 0px; }
  .nav-crumb a {
    color: inherit;
    display: inline-block;
    font-size: 16px; }

.pro_info {
  background-color: white; }

.pro_info-i {
  height: 540px;
  margin: 10px 0px; }

.pro-i-lunbo {
  position: relative;
  width: 50%; }

#pro-i-lunbo {
  padding: 20px 50px; }

.pro-i-tag > li {
  width: 100px;
  height: 100px; }
  .pro-i-tag > li img {
    width: 100%;
    height: 100%; }

.pro-i-tag {
  margin: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  bottom: -100px; }
  .pro-i-tag li {
    width: 100px;
    height: 100px;
    text-indent: 0px;
    border-radius: 0px;
    border: 1px solid transparent;
    background-color: inherit;
    margin: 0px; }
    .pro-i-tag li img {
      width: 100%;
      height: 100%; }
  .pro-i-tag .active {
    margin: 0px;
    width: 100px;
    height: 100px;
    border: 1px solid #ff0042; }

.pro-i-lunbo-contr {
  position: absolute;
  color: #ddd;
  z-index: 10;
  top: 200px;
  cursor: pointer; }
  .pro-i-lunbo-contr i {
    font-size: 60px; }
  .pro-i-lunbo-contr:hover {
    color: #ff0042; }

.pro-i-lunbo-contr-left {
  left: 0px; }

.pro-i-lunbo-contr-right {
  right: 0px; }

.pro-i-lunbo-img {
  height: 400px; }
  .pro-i-lunbo-img img {
    width: 100%;
    height: 100% !important; }

.pro-i-con {
  width: 49%;
  margin-left: 1%; }

.pro-i-con-pri {
  width: 100%;
  margin: 20px 0px;
  background-color: #fafafa;
  padding: 20px; }
  .pro-i-con-pri span {
    font-size: 20px;
    color: #ff0042; }

.pro-i-con-check {
  margin: 30px 0px; }
  .pro-i-con-check > ul > li {
    margin-top: 10px; }

.pro-select {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px 10px; }

.pro-nub-contr {
  width: 40px;
  font-size: 16px;
  background-color: #ccd1d6;
  padding: 5px 15px;
  height: 34px;
  line-height: 22px;
  cursor: pointer; }
  .pro-nub-contr:hover {
    background-color: #ff0042;
    color: white; }

.pro-i-con-nub {
  margin: 40px 0px; }

.pro-nub-val {
  height: 34px;
  line-height: 34px;
  border: 1px solid #ccd1d6;
  width: 50px;
  text-align: center; }

.pro-i-con-sub button {
  padding: 10px 60px; }

.pro-i-con-sub-buy {
  border: 0px;
  background-color: #ff0042;
  color: white;
  transition: all 0.2s; }
  .pro-i-con-sub-buy:hover {
    background-color: rgba(187, 5, 5, 0.86); }

.pro-i-con-sub-join-shop {
  margin-left: 40px;
  background-color: #999;
  color: white;
  border: 0px;
  transition: all 0.2s; }
  .pro-i-con-sub-join-shop:hover {
    background-color: #757575; }

.pro-i-b {
  margin: 20px 0px; }

.pro-i-param {
  padding: 20px;
  width: 75%;
  background-color: white; }

.pro-i-param-tit {
  border-bottom: 1px solid #ddd; }
  .pro-i-param-tit a {
    font-size: 16px;
    display: inline-block;
    color: #ff0042;
    padding: 10px;
    border-bottom: 2px solid #ff0042; }

.pro-i-param-con {
  min-height: 500px; }

.facade-map-box {
  position: relative;
  width: 100%; }

#facade-map {
  height: 700px; }

.facade-map-search {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 420px;
  background-color: white;
  padding: 10px; }

.facade-map-select {
  padding: 4px;
  width: 100%;
  border: 1px solid #ddd; }

.facade-map-sear-input {
  padding: 4px 5px;
  width: 75%;
  border: 1px solid #ddd;
  border-right: 0px; }

.facade-map-sear-button {
  border: 0px;
  background-color: #ff0042;
  color: white;
  transition: all 0.2s;
  padding: 5px 10px; }
  .facade-map-sear-button:hover {
    background-color: rgba(187, 5, 5, 0.86); }

.hot-facade-tit {
  border-bottom: 1px solid #ddd; }
  .hot-facade-tit h4 {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px; }

.hot-facade-list {
  margin: 20px 0px; }

.hot-facade-item-img img {
  width: 100%;
  height: 133px; }

.member-nav {
  background-color: white;
  padding: 20px;
  width: 20%;
  box-shadow: 0 0  5px #ddd;
  border-radius: 5px;
  overflow: hidden; }

.member-nav-tit h4 {
  font-weight: 500; }

.member-nav-box {
  margin: 20px 0px;
  padding: 0px 10px; }
  .member-nav-box > ul .active {
    color: #00a0e9; }
  .member-nav-box > ul li {
    padding: 10px 0px;
    cursor: pointer; }
    .member-nav-box > ul li > a {
      color: inherit;
      font-size: 15px; }
      .member-nav-box > ul li > a:hover {
        color: #00a0e9; }

.member-i-info-l > ul > li {
  padding: 20px 0px;
  border-bottom: 1px  solid #ddd; }

.member-i-info-l {
  width: 50%; }

.member-i-info-tit {
  width: 20%; }

.member-i-info-des {
  width: 80%; }
  .member-i-info-des input {
    border: 0px;
    width: 100%; }

.member-i-info-item {
  padding: 0px 20px;
  font-size: 15px; }

.member-i-info-r {
  width: 50%;
  padding: 20px 122px; }

.member-i-info-r-img img {
  width: 200px;
  height: 200px; }

.member-i-info-r-upheadpic {
  margin-top: 10px; }
  .member-i-info-r-upheadpic input[type=file] {
    width: 100%; }

.auth_save {
  padding: 10px 40px;
  border: 0px;
  background-color: #00a0e9;
  color: white;
  transition: all 0.2s; }
  .auth_save:hover {
    background-color: #007EC3; }

.member-safe > ul > li {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd; }

.member-safe-item {
  height: 65px; }

.member-safe-i-tag {
  margin-right: 1%; }
  .member-safe-i-tag i {
    width: 65px;
    font-size: 65px;
    color: #00a0e9; }

.member-safe-i-tit h4 span {
  font-size: 14px;
  color: #999; }
.member-safe-i-tit p {
  color: #999;
  margin-bottom: 0px; }

.member-safe-i-active a {
  padding: 10px 20px;
  height: 60px;
  line-height: 60px;
  border: 0px;
  background-color: #00a0e9;
  color: white;
  transition: all 0.2s;
  border: 1px solid #ddd; }
  .member-safe-i-active a:hover {
    background-color: #007EC3; }

.member-order-tag {
  border-bottom: 1px solid #ddd; }
  .member-order-tag > ul .active > a {
    border-bottom: 2px solid #00a0e9; }
  .member-order-tag > ul li a {
    display: inline-block;
    color: #333;
    padding: 10px; }

.member-order-search {
  margin-top: 20px; }

.member-order-search-input {
  position: relative; }
  .member-order-search-input input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 20px;
    width: 100%; }
  .member-order-search-input i {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 21px;
    color: #999;
    cursor: pointer; }
    .member-order-search-input i:hover {
      color: #00a0e9; }

.member_my_order {
  margin-top: 40px; }

.member-finace-h {
  background-color: #00a0e9;
  margin: -20px -40px;
  padding: 20px 40px; }
  .member-finace-h img {
    width: 200px;
    height: 200px; }
  .member-finace-h h4 {
    margin-top: 10px;
    color: white; }
  .member-finace-h p {
    margin-top: 10px; }

.member-finace-c {
  margin-top: 60px; }
  .member-finace-c h4 {
    color: #00a0e9; }
  .member-finace-c p {
    font-size: 15px; }

.member-finace-detail-tit {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd; }

.member-addr-addbtn button {
  padding: 5px 20px;
  border: 0px;
  background-color: #00a0e9;
  color: white;
  transition: all 0.2s; }
  .member-addr-addbtn button:hover {
    background-color: #007EC3; }

.member-addr-list {
  margin-top: 20px; }
  .member-addr-list > form > .form-group {
    width: 20%; }
    .member-addr-list > form > .form-group select {
      width: 100%; }

.address_btn {
  margin-top: 10px;
  background-color: #00a0e9 !important;
  color: white; }
  .address_btn:hover {
    color: white; }

.member-warp {
  background-color: #f2f2f2; }

.member-box {
  margin: 20px 0px; }

.member-con {
  width: 78%;
  margin-left: 2%;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 0 5px #ddd;
  min-height: 500px;
  border-radius: 5px;
  overflow: hidden; }

.member-c-tit {
  width: 100%;
  margin-bottom: 20px; }
  .member-c-tit h4 {
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 2px solid #00a0e9;
    display: inline-block; }

.news-item-warp {
  margin-top: 40px; }

.news-item-left-box {
  background-color: white;
  box-shadow: 0 0 5px #ddd; }

.news-item-push-tiem {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f2f5;
  margin-bottom: 40px; }
  .news-item-push-tiem span {
    color: #a3afb7;
    padding-right: 20px;
    font-size: 16px; }

body {
  font: 14px/1.5 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
  min-height: 100%; }

i {
  font-style: normal; }

.load-box {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99999;
  visibility: visible;
  transition: .3s;
  text-align: center; }
  .load-box > i {
    margin-top: 200px;
    font-size: 50px; }
  .load-box.active {
    visibility: hidden; }

/*# sourceMappingURL=base.css.map */
