.container-fluid {
  min-width: 1241px !important;
  padding: 0px;
  margin: 0px; }

.container {
  width: 1241px;
  padding: 0px; }

ul {
  margin-bottom: 0px; }

.carousel-control {
  display: none; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none; }
  a:link {
    text-decoration: none; }

.bg-gray {
  background-color: #f5f5f5; }

.top-box {
  background-color: #333; }
  .top-box ul {
    line-height: 30px; }
    .top-box ul li {
      padding: 5px 10px; }
      .top-box ul li i {
        font-size: 16px; }

.top-box-f1 {
  color: #bbb; }
  .top-box-f1 p {
    line-height: 40px;
    margin-bottom: 0px; }
  .top-box-f1 a {
    color: #bbb;
    cursor: pointer; }

.top-box-f2 .buy_car {
  background-color: #404040; }
.top-box-f2 a {
  color: #bbb;
  text-decoration: none; }
  .top-box-f2 a:hover {
    color: #ff0042; }

.top-weixin-code-li {
  position: relative; }
  .top-weixin-code-li .top-weixin-code {
    z-index: 10;
    position: absolute;
    left: -20px;
    top: 40px;
    border: 1px solid #ddd;
    display: none; }
    .top-weixin-code-li .top-weixin-code img {
      width: 100px;
      height: 100px; }

.nav-warp {
  padding: 20px 0px; }

.logo img {
  width: 70px;
  height: 70px; }

.nav-ul {
  height: 70px; }
  .nav-ul > ul {
    margin-left: 100px; }
    .nav-ul > ul li {
      line-height: 70px;
      padding: 0px 20px; }
      .nav-ul > ul li:last-child {
        padding-right: 0px; }
      .nav-ul > ul li a {
        font-size: 16px;
        color: #333;
        padding-bottom: 5px; }
        .nav-ul > ul li a:hover {
          color: #ff0042; }
    .nav-ul > ul .active a {
      color: #ff0042;
      border-bottom: 2px solid #ff0042; }

.search_input {
  height: 40px; }
  .search_input input {
    width: 200px;
    border: 1px solid #ddd;
    border-right: 0px;
    height: 40px;
    padding: 10px; }

.search_button {
  height: 40px; }
  .search_button button {
    border: 0px;
    background-color: #ff0042;
    color: white;
    transition: all 0.2s;
    padding: 0px 15px;
    line-height: 30px;
    height: 40px; }
    .search_button button:hover {
      background-color: rgba(187, 5, 5, 0.86); }

.nav_search {
  height: 40px; }

.foot-con {
  margin-top: 20px; }

.foot-con-l {
  width: 70%; }
  .foot-con-l > ul {
    border-right: 1px solid #ddd; }

.foot-con-r {
  width: 30%; }
  .foot-con-r h2 {
    color: #ff0042; }
  .foot-con-r > ul > li {
    font-size: 18px; }
    .foot-con-r > ul > li .fa-weixin {
      color: green; }
    .foot-con-r > ul > li .fa-qq {
      color: #2096ff; }
    .foot-con-r > ul > li .fa-weibo {
      color: #ff5818; }

.foot-item > ul > li {
  padding: 4px 0px; }
  .foot-item > ul > li a {
    color: inherit; }
    .foot-item > ul > li a span {
      color: #868686; }
    .foot-item > ul > li a:hover {
      color: rgba(187, 5, 5, 0.86); }
      .foot-item > ul > li a:hover span {
        color: rgba(187, 5, 5, 0.86); }

.i-banner {
  position: relative; }

.carousel-control.left {
  margin-left: 244px; }

.in-banner img {
  width: 1241px;
  height: 530px !important; }

.classify_nav_b {
  height: 100%;
  width: 244px;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6); }

.classify_nav_ul > ul {
  margin-top: 20px; }
  .classify_nav_ul > ul > li {
    cursor: pointer;
    padding: 10px 30px; }
    .classify_nav_ul > ul > li > a {
      color: white; }
    .classify_nav_ul > ul > li > i {
      color: white;
      font-size: 22px; }
    .classify_nav_ul > ul > li:hover {
      background-color: #ff0042; }

.cla_item_dis {
  display: none;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 244px;
  min-width: 470px;
  border: 1px solid #dddd;
  border-left: 0px;
  height: 100%; }
  .cla_item_dis > ul {
    display: inline-block;
    margin-left: 0px; }
    .cla_item_dis > ul li {
      padding: 20px; }
      .cla_item_dis > ul li a {
        display: inline-block;
        color: #333; }
        .cla_item_dis > ul li a:hover {
          color: #ff0042; }

.hot-product {
  margin-bottom: 20px; }

.hot-product_box {
  width: 100%; }
  .hot-product_box > ul > li {
    position: relative;
    top: 0px;
    transition: all 0.5s; }
    .hot-product_box > ul > li:last-child {
      padding-right: 0px; }
    .hot-product_box > ul > li:hover {
      top: -10px; }

.ind-tit {
  padding: 30px 0px 10px; }
  .ind-tit h3 {
    margin: 0px; }

.hot-pro-item {
  padding: 20px 10px;
  background-color: #f5f5f5; }
  .hot-pro-item img {
    width: 217px;
    height: 217px; }
  .hot-pro-item h5 {
    font-size: 16px; }
  .hot-pro-item p {
    padding: 5px 0px;
    margin: 0px; }
  .hot-pro-item span {
    width: 100%;
    color: #999; }
  .hot-pro-item:hover {
    box-shadow: 0 2px 7px #ddd; }

.product-price {
  color: #ff0042; }
  .product-price i {
    font-size: 20px; }

.consult-adt {
  margin-bottom: 20px; }

.ind-consult-f1 {
  padding: 10px;
  background-color: white; }

.consult-header img {
  width: 197px;
  height: 142px; }

.consult-des p {
  margin-top: 10px; }
.consult-des button {
  padding: 5px 10px;
  border: 0px;
  background-color: #ff0042;
  color: white;
  transition: all 0.2s; }
  .consult-des button:hover {
    background-color: rgba(187, 5, 5, 0.86); }

.ind-acd {
  position: relative;
  width: 557px;
  height: 234px; }

.ind-acd-tag {
  width: 20%;
  padding: 5px 10px;
  background-color: #00a0e9; }
  .ind-acd-tag p {
    margin-bottom: 0px;
    color: white; }

.ind-acd-div-f1 {
  height: 180px;
  position: absolute;
  right: 30px;
  width: 215px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px; }
  .ind-acd-div-f1 > button {
    padding: 5px 20px;
    margin-top: 20px;
    border: 0px;
    background-color: #ff0042;
    color: white;
    transition: all 0.2s; }
    .ind-acd-div-f1 > button:hover {
      background-color: rgba(187, 5, 5, 0.86); }

.ind-acd-des {
  border-bottom: 1px solid #ddd; }

.ind-case {
  margin-bottom: 10px; }

.ind-case-box > ul {
  margin-left: -10px; }
  .ind-case-box > ul li {
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 10px; }

.ind-case-item {
  padding: 10px;
  background-color: white; }

.ind-case-img img {
  width: 100%;
  height: 167px; }

.ind-case-des p {
  margin-top: 10px;
  font-size: 16px; }
.ind-case-des span {
  color: #999;
  font-size: 14px; }
  .ind-case-des span i {
    color: #ff0042; }

.ind-news-l1-box {
  width: 50%; }

.ind-news-l1 {
  position: relative;
  height: 387px; }
  .ind-news-l1 img {
    width: 100%;
    height: 100%; }

.ind-news-l1-des {
  width: 100%;
  height: 50%;
  padding: 20px 30px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 193px; }
  .ind-news-l1-des h4 {
    color: white;
    display: inline-block; }
  .ind-news-l1-des > span {
    font-size: 13px;
    padding: 1px 5px;
    background-color: #00a0e9;
    color: white; }
  .ind-news-l1-des > p {
    color: white;
    margin-bottom: 0px;
    margin-top: 10px; }
    .ind-news-l1-des > p > span {
      color: #999; }

.ind-news-l1-botton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  color: white;
  top: 10px;
  z-index: 10;
  cursor: pointer; }
  .ind-news-l1-botton:hover {
    background-color: rgba(255, 0, 66, 0.7); }

.ind-news-l1-prev {
  left: 10px; }

.ind-news-l1-next {
  left: 46px; }

.ind-news-r1 {
  width: 48%;
  height: 387px;
  margin-left: 2%; }

.ind-news-acd {
  display: inline-block; }

.ind-news-acd-f1 {
  position: relative;
  padding-right: 0px;
  overflow: hidden; }
  .ind-news-acd-f1 img {
    width: 100%;
    height: 210px; }
  .ind-news-acd-f1 > .active {
    top: 0px; }

.ind-news-acd-des {
  position: absolute;
  top: 210px;
  width: 282px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 40px;
  transition: all 0.5s; }
  .ind-news-acd-des h4 {
    font-size: 15px;
    display: inline-block; }
  .ind-news-acd-des .ind-news-acd-tag {
    padding: 1px 5px;
    background-color: #00a0e9; }

.ind-news-r2 {
  width: 100%;
  height: 162px;
  margin-top: 10px;
  position: relative;
  overflow: hidden; }

.ind-news-r2-box {
  position: relative; }
  .ind-news-r2-box ul {
    margin-left: 10px; }
    .ind-news-r2-box ul li {
      position: relative;
      width: 168px;
      padding: 0px;
      margin-left: 10px; }
      .ind-news-r2-box ul li:first-child {
        margin-left: 15px; }
      .ind-news-r2-box ul li a {
        display: inline-block; }
        .ind-news-r2-box ul li a img {
          width: 100%;
          height: 162px; }
      .ind-news-r2-box ul li .active {
        top: 0px; }

.ind-news-r2-lunbo {
  width: 582px;
  margin-left: 15px; }

.ind-news-r2-con {
  overflow: hidden;
  position: relative; }

.ind-news-r2-des {
  position: absolute;
  top: 162px;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  transition: all 0.5s; }
  .ind-news-r2-des h4 {
    font-size: 15px; }
  .ind-news-r2-des p {
    font-size: 14px;
    color: #999; }

.ind-news-r2-botton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 20px;
  height: 162px;
  line-height: 162px;
  text-align: center;
  z-index: 10;
  color: white;
  cursor: pointer; }
  .ind-news-r2-botton:hover {
    background-color: #ff0042; }

.ind-news-r2-prev {
  left: 15px; }

.ind-news-r2-next {
  right: 0px; }

.banner2 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px; }

.banner2-warp {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.banner2-box {
  color: white;
  padding-bottom: 30px; }

.ind-center-title {
  color: white;
  margin: 40px 0px 30px; }
  .ind-center-title p {
    color: #999; }

.banner2-item-img {
  background-color: #ff0042;
  border-radius: 100px;
  width: 133px;
  height: 133px; }
  .banner2-item-img i {
    line-height: 133px;
    font-size: 60px; }

.ind-circum-box {
  margin-bottom: 20px; }
  .ind-circum-box > ul li img {
    width: 100%;
    height: 148px; }

.ind-partner {
  width: 100%;
  height: 400px;
  position: relative; }

.ind-partner-d1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.ind-partner-input {
  width: 400px;
  background-color: white;
  padding: 20px 76px; }

.ind-partner-input-group {
  margin-bottom: 20px; }
  .ind-partner-input-group label {
    padding: 5px 10px;
    margin-bottom: 0px;
    background-color: #ddd; }
  .ind-partner-input-group input {
    height: 31px;
    width: 200px;
    border: 1px solid #ddd; }
  .ind-partner-input-group button {
    padding: 5px 0px;
    width: 100%;
    border: 0px;
    background-color: #ff0042;
    color: white;
    transition: all 0.2s; }
    .ind-partner-input-group button:hover {
      background-color: rgba(187, 5, 5, 0.86); }

body {
  font: 14px/1.5 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif; }

i {
  font-style: normal; }

/*# sourceMappingURL=base.css.map */
