.member-addr-addbtn{
  button{
    padding:5px 20px;
    @include blue-button;
  }
}

.member-addr-list{
  margin-top: 20px;
  & > form > .form-group{
    select{
      width: 100%;
    }
  }
}

.address_btn{
  margin-top: 10px;
  background-color: $blue-color !important;
  color: white;
  &:hover{
    color:white;
  }
}

.form-group-row-addr{
  label{
    margin: 0px;
    padding:10px 0px;
    width: 10%;
  }
}