.member-order-tag{

  border-bottom: 1px solid #ddd;
  & > ul {
    .active{
      & > a{
        border-bottom: 2px solid $blue-color;
      }
    }
    li {
      a{
        display: inline-block;
        color: #333;
        padding:10px;
      }
    }
  }
}

.member-order-search{
  margin-top: 20px;

}

.member-order-search-input{
  position: relative;
  input{
    border: 1px solid #ddd;
    border-radius: 6px ;
    padding:5px 20px;
    width: 100%;
  }
  i{
    position: absolute;
    right: 20px;
    top:5px;
    font-size: 21px;
    color: #999;
    cursor: pointer;
    &:hover{
      color: $blue-color;
    }
  }
}

.member_my_order{
  margin-top: 40px;
  & > ul {
    display: none;
    li {
      margin-bottom: 30px;
    }
  }
}

.member_my_order_item{
  border: 1px solid $href-color;
  padding:10px 20px;
}

.member_my_order_item_tit{
  padding:10px;
  border-bottom: 1px solid $href-color;
}

.member_my_order_item_tit_lef{
  h3{
    margin-top: 0px;
    color: #f96868;
  }
}

.member_my_order_item_tit_right{
  span{
    i{
      font-size: 26px;
      color:#f96868;
    }
  }
}

.my_order_des_img{
  img{
    width: 60px;
    height: 60px;
  }
}

.member_my_order_item_des{
  padding:20px 0px;
}

.my_order_des_body{
  margin-left: 10px;
  h5{
    margin-top: 0px;
  }
}

.my_order_pay_botton{
  .ra-pay{
    @include  button;
    padding:5px 20px;
  }
  .tk{
    color: #999;
    background-color: white;
    border: 1px solid rgba(169, 169, 169, 0.69);
    padding:5px 20px;
    border-radius: 0px;
  }
}