

.member-safe{
  & > ul > li {
    padding:10px 0px;
    border-bottom: 1px solid #ddd;
  }
}

.member-safe-item{
  height: 65px;
}

.member-safe-i-tag{
  margin-right: 1%;
  i{
    width: 65px;
    font-size: 40px;
    color: $blue-color;
  }
}

.member-safe-i-tit{
  h4{
    span{
      font-size: 14px;
      color: #999;
    }
  }
  p{
    color: #999;
    margin-bottom: 0px;
  }
}

.member-safe-i-active{
  a{
    padding:10px 20px;
    height: 60px;
    line-height: 60px;
    @include blue-button;
    border: 1px solid #ddd;
  }
}